
.contenedor {
  width: 650px;
  height: 550px;
  border: 1px solid #0000;
  z-index: 1;
}

.imagenes{
    border-radius: 15%;
}

.cuerpo{
    background-color:#B8C9F3;
    z-index: -1;
}

.cancion{
    height: 90px;
}


